*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
    height: 60px;
}

ul{ 
    display: flex;
    flex-direction: row;
    list-style-type: none;
}

ul li a{
    text-decoration: none;
    color: gray;
}

header ul li{
    padding: 10px;
}

ul li a:hover{
    color: rgb(35, 35, 168);
}

header nav{
    padding-top: -10px;
}


div .img-div1 img{
    object-fit: contain;
    width: 100%;
    height: 100%;
}

div .text-div1{
    padding-top: 70px;
    color: #3b5aa6;
}

.navbar-div{
    background-color: white;
}

header div{
    height: 50px;
    width: 100px;
}
header div img{
    object-fit: contain;
    width: 100%;
    height: 100%;
}

footer{
    background-color: #3b5aa6;
    color: white;
    margin-bottom: 0px;
    height: auto;
}

footer p{
    margin-bottom: 0px;
}

.video{
    height: 482px;
    width: auto;
    border-radius: 8px;
}

.video iframe{
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 8px;
}

div h3{
    color: #3b5aa6;
}

.python{
    display: flex;
    justify-content: center;
    padding-top: 60px;
}


/* Add this CSS for the bouncing animation */
@keyframes bounce {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-20px);
    }
    100% {
        transform: translateY(0);
    }
}

/* Apply the animation to the element */
#animatedP {
    animation: bounce 1s infinite;
}
