<footer>
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-4 p-5">
                <h5 class="fw-bolder">Contact</h5>
                <p><img class="mt-2 me-2" style="width: 30px" src="https://raw.githubusercontent.com/gauravghongde/social-icons/9d939e1c5b7ea4a24ac39c3e4631970c0aa1b920/SVG/White/Gmail_white.svg" alt=""> codemonty@gmail.com</p>
                <p><img class="mt-2 me-2" style="width: 30px" src="https://raw.githubusercontent.com/gauravghongde/social-icons/9d939e1c5b7ea4a24ac39c3e4631970c0aa1b920/SVG/White/WhatsApp_white.svg" alt=""> +639707658383</p>
                <p><img class="mt-2 me-2" style="width: 30px" src="https://raw.githubusercontent.com/gauravghongde/social-icons/9d939e1c5b7ea4a24ac39c3e4631970c0aa1b920/SVG/White/Facebook_white.svg" alt="">facebook.com/codemonty</p>
                <p><img class="mt-2 me-2" style="width: 30px" src="https://raw.githubusercontent.com/gauravghongde/social-icons/9d939e1c5b7ea4a24ac39c3e4631970c0aa1b920/SVG/White/Youtube_white.svg" alt=""> youtube.com/codemonty</p>
            </div>
            <div class="col-12 col-md-7 p-5">
                <h5 class="fw-bolder">About Code Monty</h5>
                <p style="text-align: justify;">{{about_codemonty}}</p>
                <h5 class="fw-bolder mt-4">About the Developer</h5>
                <p style="text-align: justify;">{{about_dev}}</p>
                <p class="mt-4">&copy; 2024 Code Monty</p>
            </div>
        </div>
    </div>
</footer>
