<footer>
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-4 p-5">
                <h5 class="fw-bolder">Contact</h5>
                <p><img class="mt-2 me-2" style="width: 30px" src="https://raw.githubusercontent.com/gauravghongde/social-icons/9d939e1c5b7ea4a24ac39c3e4631970c0aa1b920/SVG/White/Gmail_white.svg" alt=""> codemonty@gmail.com</p>
                <p><img class="mt-2 me-2" style="width: 30px" src="https://raw.githubusercontent.com/gauravghongde/social-icons/9d939e1c5b7ea4a24ac39c3e4631970c0aa1b920/SVG/White/WhatsApp_white.svg" alt=""> +639707658383</p>
                <p><img class="mt-2 me-2" style="width: 30px" src="https://raw.githubusercontent.com/gauravghongde/social-icons/9d939e1c5b7ea4a24ac39c3e4631970c0aa1b920/SVG/White/Facebook_white.svg" alt="">facebook.com/codemonty</p>
                <p><img class="mt-2 me-2" style="width: 30px" src="https://raw.githubusercontent.com/gauravghongde/social-icons/9d939e1c5b7ea4a24ac39c3e4631970c0aa1b920/SVG/White/Youtube_white.svg" alt=""> youtube.com/codemonty</p>
            </div>
            <div class="col-12 col-md-7 p-5">
                <h5 class="fw-bolder">About Code Monty</h5>
                <p style="text-align: justify;">Discover the power of Code Monty, your gateway to the exciting world of coding with Python. Tailored for Filipinos, our learning platform offers free, accessible, and engaging IT courses. Elevate your skills, embrace the digital future, and code your success with Code Monty - where learning meets innovation.</p>
                <h5 class="fw-bolder mt-4">About the Developer</h5>
                <p style="text-align: justify;">Fyke Lleva, a dedicated solo web developer, envisions a more inclusive digital landscape for Filipinos. The creative force behind Code Monty, the developer channels his passion for coding and design into building an accessible platform. </p>
                <p class="mt-4">&copy; 2024 Code Monty</p>
            </div>
        </div>
    </div>
</footer>
