<div class="container navbar-div">
    <header class="sticky">
        <div>
            <img src="{{url_for('static', filename='img/logo.jpg')}}" alt="code monty">
        </div>
        <nav>
            <ul>
                <li><a href="/" class="btn text-secondary">Home</a></li>
                <li><a href="/" class="btn text-secondary">Course</a></li>
                <li><a href="/" class="btn text-secondary">About</a></li>
                <li><a href="/" class="btn text-secondary">Contact</a></li>
                <li>
                    <a href="" class="btn btn-primary" style="background-color: #3b5aa6;">Join</a>
                </li>
                <li>
                    <a href="" class="btn btn-primary" style="background-color: #3b5aa6;">Login</a>
                </li>
            </ul>
        </nav>
    </header>

    
</div>