<div class="container navbar-div">
    <header class="sticky">
        <div>
            <img src="{{url_for('static', filename='img/logo.jpg')}}" alt="code monty">
        </div>
        <nav>
            <ul>
                <li><button onclick="home()" href="/" class="btn text-secondary">Home</button></li>
                <li><button onclick="course()" class="btn text-secondary">Course</button></li>
                <li><button onclick="about()"href="/" class="btn text-secondary">About</button></li>
                <li><button onclick="contact()"href="/" class="btn text-secondary">Contact</button></li>
                <li>
                    <button href="" class="btn btn-primary" style="background-color: #3b5aa6;">Join</button>
                </li>
                <li>
                    <button href="" class="btn btn-primary" style="background-color: #3b5aa6;">Login</button>
                </li>
            </ul>
        </nav>
    </header>

    
</div>